<%- include('./partials/header.ejs') %>


    </head>

    <body>
        <%- include('./partials/navbar.ejs') %>
        <div style="margin-top: 100px;">
            <h1>stats analytics </h1>
        </div>
    </body>

    </html>