        <header>
           <img src="../../../black-logo-transparent.png">
            <nav>
                <ul>
                    <li><a href="/leadtable">Lead Board</a></li>
                    <li><a href="/stats">Analytics</a></li>
                    <li><a href="/upload">Update</a></li>
                    <li><a href="#">Terms of use</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>

    </body>
</html>